
header{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 10px;
  padding-bottom: 50px;
  grid-column: 1/3;
}
button{
  float: right;
  width: 130px;
  height: 40px;
  border-radius: 2px;
  border-style: none;
  margin-top: 10px;
  font-weight: 600;
}